{% extends 'KunstmaanKAdminBundle:Default:layout.html.twig' %}

{% block sidebar %}
<div class="sidebar">
    <ul>
        <li class="header">Galleries</li>
        {% for gallery in galleries %}
            <li><a href="{{ path('KunstmaanKAdminBundle_imagegallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{gallery.name }}</a></li>
        {% else %}
            <li>No galleries</li>
        {% endfor %}
        <li class="header"><a href="{{ path('KunstmaanKAdminBundle_imagegallery_new') }}">add gallery</a></li>
    </ul>
</div>
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('KunstmaanKAdminBundle_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li><a href="{{ path('KunstmaanKAdminBundle_media') }}">Media</a> <span class="divider">/</span></li>
		<li class="active">add gallery</li>
	</ul>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Add gallery</h1>
  </div>
   {% include 'KunstmaanKAdminBundle:ImageGallery:form.html.twig' with { 'form': form } %}
{% endblock %}