{% extends 'KunstmaanKAdminBundle:Default:layout.html.twig' %}

{% block sidebar %}
    {% include 'KunstmaanKAdminBundle:ImageGallery:sidebar.html.twig' %}
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('KunstmaanKAdminBundle_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li><a href="{{ path('KunstmaanKAdminBundle_media') }}">Media</a> <span class="divider">/</span></li>
        <li><a href="{{ path('KunstmaanKAdminBundle_media_images') }}">Images</a> <span class="divider">/</span></li>
		<li class="active">{{ gallery.name }}</li>
	</ul>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Gallery <small>{{ gallery.name }}</small></h1>
    </div>
    <div>
        <p><a href="{{ path('KunstmaanKAdminBundle_picture_new', { 'gallery_id' : gallery.id }) }}">add image to this gallery</a></p>
    </div>
    <div>
        <h2>Images in this gallery</h2>
        <ul>
        {% for image in gallery.images %}
            <li>
                {{ image.id }}
                {{ image.name }}
                {{ image.contentType }}
                <ul>
                {% for item in image.metadata %}
                            <li>{{ item }}</li>
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>No images in this gallery yet.</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}