{% extends 'KunstmaanKAdminBundle:Default:layout.html.twig' %}

{% block sidebar %}
    {% include 'KunstmaanKAdminBundle:ImageGallery:sidebar.html.twig' %}
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('KunstmaanKAdminBundle_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li><a href="{{ path('KunstmaanKAdminBundle_media') }}">Media</a> <span class="divider">/</span></li>
        <li><a href="{{ path('KunstmaanKAdminBundle_media_images') }}">Images</a> <span class="divider">/</span></li>
		<li class="active">create new image gallery in {{ parent.name }}</li>
	</ul>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Create a new image gallery in {{ parent.name }}</h1>
  </div>
   {% include 'KunstmaanKAdminBundle:ImageGallery:subform.html.twig' with { 'form': form, 'id' : parent.id } %}
{% endblock %}