{% block userroles_widget %}
    {% spaceless %}
    {% if expanded %}
        <div {{ block('widget_container_attributes') }}>
            <div id="form_node">
            {% for child in form %}
                <div class="clearfix">
                    <div class="input">
                        {{ form_widget(child) }}
                        <span>{{ form_label(child) }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_options') }}
            {% if choices|length > 0 and separator is not none %}
            <option disabled="disabled">{{ separator }}</option>
            {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('widget_choice_options') }}
        </select>
    {% endif %}
    {% endspaceless %}
{% endblock %}