
<ul>
        <li class="header">Image Galleries</li>
        {% for gallery in galleries %}
            <li><a href="{{ path('KunstmaanKMediaBundle_imagegallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{gallery.name }}</a></li>

            {% for child in gallery.children %}
                    <li><a href="{{ path('KunstmaanKMediaBundle_imagegallery_show', { 'id': child.id, 'slug': child.slug }) }}">{{child.name }}</a></li>
            {% endfor %}
        {% else %}
            <li>No image galleries</li>
        {% endfor %}
        <li class="header"><a href="{{ path('KunstmaanKMediaBundle_imagegallery_new') }}">create new image gallery</a></li>
</ul>