<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'omnext.title' | trans }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <script src="{{  asset('js/libs/modernizr-2.0.6.min.js') }}"></script>
      <script src="{{ asset('js/jquery-1.7.js') }}"></script>
    <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('js/bootstrap-tabs.js') }}"></script>
    <script src="{{ asset('js/bootstrap-modal.js') }}"></script>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
      <script src="{{ asset('js/jquery-swapsies.js') }}"></script>
      <script src="{{ asset('js/libs/jquery.jstree.js') }}"></script>
      <script src="{{ asset('js/libs/jquery.datePicker.js') }}"></script>
      <script src="{{ asset('js/plugins.js') }}"></script>
      <script src="{{ asset('js/script.js') }}"></script>
      <script src="{{ asset('js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
      <script type=text/javascript>
          CKEDITOR.replaceClass = 'rich_editor';
      </script>
    <link rel="stylesheet" href="{{ asset('css/backend.css') }}" type="text/css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/apple-touch-icon-114x114.png') }}">
  </head>
  <body>
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ 'omnext.title' | trans }}</a>
          {{ knp_menu_render('main', { 'currentClass': 'active' }) }}
          <ul class="nav secondary-nav"> 
          	{% set route = app.request.attributes.get('_route') %}
            {{ app.request.attributes.remove('_route') }}
            {% set attribs = app.request.attributes.all %}
          	<li {% if app.request.attributes.get('_locale') == "en" %}class="active"{% endif %}><a {% if app.request.attributes.get('_locale') == "en" %}style="color: #049CDB"{% endif %} href="{{ path(route,  attribs|merge({ '_locale': 'en' })) }}">en</a></li>
          	<li {% if app.request.attributes.get('_locale') == "nl" %}class="active"{% endif %}><a {% if app.request.attributes.get('_locale') == "nl" %}style="color: #049CDB"{% endif %} href="{{ path(route,  attribs|merge({ '_locale': 'nl' })) }}">nl</a></li>
          	<li {% if app.request.attributes.get('_locale') == "fr" %}class="active"{% endif %}><a {% if app.request.attributes.get('_locale') == "fr" %}style="color: #049CDB"{% endif %} href="{{ path(route,  attribs|merge({ '_locale': 'fr' })) }}">fr</a></li>
          	<li {% if route == 'fos_user_profile_show' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%':app.user.username}, 'FOSUserBundle') }}</a></li>
          	<li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="sidebar">
	      {% block sidebar %}
	           <div class="well">
	          <h5>Sidebar</h5>
	          <ul>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	          </ul>
	          <h5>Sidebar</h5>
	          <ul>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	          </ul>
	          <h5>Sidebar</h5>
	          <ul>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
	          </ul>
	        </div>
	      {% endblock %} 
      </div>
      <div class="content">
      	{% block breadcrumb %}
          
		  {% endblock %}
        {% block content %} {% endblock %}
      </div>
            <footer>
                <div class="container-fluid">
                    <p class="pull-right"><a target="_blank" href="http://www.kunstmaan.be"><img src="{{ asset('images/general/kunstmaan.png') }}" width="83" height="16" alt="Kunstmaan" class="kunstmaan-logo" /></a></p>
                </div>
            </footer>
    </div>

  </body>
</html>