{% extends 'KunstmaanAdminBundle:Pages:index.html.twig' %}

{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ 'omnext.home' | trans }}</a> <span class="divider">/</span></li>
    <li><a href="{{ path('KunstmaanAdminBundle_pages') }}">{{ 'pages.title' | trans }}</a> <span class="divider">/</span></li>
    <li class="active">{{page.title}}</li>
</ul>
{% endblock %}

{% block content %}
    <form action="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': page.id, 'entityname': entityname}) }}" method="post" {{ form_enctype(form) }}>
    <div class="well" style="float:right;padding: 14px 19px;">
        <button class="btn">Preview</button>
    </div>
    <h1>{{ page.title }}</h1>
        <ul class="tabs" data-tabs="tabs">
            <li class="active"><a href="#pageparts">{{ 'pages.parts' | trans }}</a></li>
            <li><a href="#home">{{ 'form.properties' | trans }}</a></li>
            <li><a href="#versions">Versions</a></li>
            {#<li><a href="#children">Children</a></li>
            <li><a href="#slug">Slug</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Versions</a>
              <ul class="dropdown-menu">
                <li><a href="#fat">1.9 (current)</a></li>
                <li><a href="#mdo">1.8 (2011-10-11)</a></li>
                <li><a href="#mdo">1.7 (2011-10-10)</a></li>
                <li><a href="#mdo">1.6 (2011-10-10)</a></li>
                <li><a href="#mdo">1.5 (2011-10-9)</a></li>
                <li class="divider"></li>
                <li><a href="#mdo">All versions</a></li>
              </ul>
            </li>
            #}
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="active tab-pane" id="pageparts">

                {{ pagepartadmin_widget(pagepartadmin, form) }}
                <div class="actions">
                    <input type="submit" class="btn primary" value="{{ 'form.save' | trans }}">
                </div>
            </div>
            <div class="tab-pane" id="home">
                {{ form_widget(form.main) }}

                {% form_theme form 'KunstmaanAdminBundle:Form:userroles.html.twig' %}
                {{ form_widget(form.node) }}
                <div class="actions">
                    <input type="submit" class="btn primary" value="{{ 'form.save' | trans }}">
                </div>
            </div>
            <div class="tab-pane" id="roles">

                <div class="actions">
                    <input type="submit" class="btn primary" value="{{ 'form.save' | trans }}">
                </div>
            </div>
            <div class="tab-pane" id="children">
                <table class="bordered-table zebra-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#
                        {% for child in page.children %}
                            <tr>
                                <td>{{ child.sequencenumber }}</td>
                                <td><a href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': child.id, 'entityname': 'KunstmaanAdminBundle:Page' }) }}">{{ child.title }}</a></td>
                                <td>Page</td>
                            </tr>
                        {% endfor %}
                    #}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="versions">
              <table class="bordered-table zebra-striped">
                    <thead>
                    <tr>
                    	<th>Action</th>
                        <th>Action</th>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            <tr>
                            	<td><a href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': page.id, 'entityname': entityname, 'version': log.version }) }}">{{ log.version }}</a></td>
                                <td>{{ log.action }}</td>
                                <td>{{ log.loggedat | date('Y-m-d H:i:s') }}</td>
                                <td>{{ log.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="fat">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                <div class="actions">
                    <input type="submit" class="btn primary" value="Save changes">
                </div>
            </div>
            <div class="tab-pane" id="mdo">
              <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                <div class="actions">
                    <input type="submit" class="btn primary" value="Save changes">
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}
