
<ul>
        <li class="header">File Galleries</li>
        {% for gallery in galleries %}
            <li><a href="{{ path('KunstmaanKMediaBundle_filegallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{gallery.name }}</a></li>

            {% for child in gallery.children %}
                    <li><a href="{{ path('KunstmaanKMediaBundle_filegallery_show', { 'id': child.id, 'slug': child.slug }) }}">{{child.name }}</a></li>
            {% endfor %}
        {% else %}
            <li>No file galleries</li>
        {% endfor %}
        <li class="header"><a href="{{ path('KunstmaanKMediaBundle_filegallery_new') }}">create new file gallery</a></li>
    </ul>