
<div class="sidebar">
    <ul>
            <li class="header">Media</li>
            <li><a href="{{ path('KunstmaanKAdminBundle_media_images') }}">Images</a></li>
            <li><a href="{{ path('KunstmaanKAdminBundle_media_videos') }}">Videos</a></li>
            <li><a href="{{ path('KunstmaanKAdminBundle_media_slides') }}">Slides</a></li>
    </ul>

    <ul>
        <li class="header">File Galleries</li>
        {% for gallery in galleries %}
            <li><a href="{{ path('KunstmaanKAdminBundle_filegallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{gallery.name }}</a></li>

            {% for child in gallery.children %}
                    <li><a href="{{ path('KunstmaanKAdminBundle_filegallery_show', { 'id': child.id, 'slug': child.slug }) }}">{{child.name }}</a></li>
            {% endfor %}
        {% else %}
            <li>No image galleries</li>
        {% endfor %}
        <li class="header"><a href="{{ path('KunstmaanKAdminBundle_filegallery_new') }}">create new file gallery</a></li>
    </ul>
</div>