{% extends 'KunstmaanKAdminBundle:Default:layout.html.twig' %}

{% block sidebar %}
<div class="sidebar">
    <ul>
                <li class="header">Media</li>
                <li><a href="{{ path('KunstmaanKAdminBundle_media_images') }}">Images</a></li>
                <li><a href="{{ path('KunstmaanKAdminBundle_media_videos') }}">Videos</a></li>
                <li><a href="{{ path('KunstmaanKAdminBundle_media_slides') }}">Slides</a></li>
    </ul>
    <ul>
        <li class="header">File galleries</li>
    </ul>
</div>
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('KunstmaanKAdminBundle_homepage') }}">Home</a> <span class="divider">/</span></li>
		<li><a href="{{ path('KunstmaanKAdminBundle_media') }}">Media</a> <span class="divider">/</span></li>
		<li class="active">Files</li>
	</ul>
{% endblock %}

{% block content %}

{% endblock %}
